spring:
  application:
    name: maconfig-server
  datasource:
    url: jdbc:h2:mem:maconfig;MODE=MySQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  sql:
    init:
      schema-locations: classpath:schema.sql
      mode: always
  h2:
    console:
      enabled: true
server:
  port: 9091
mybatis:
  configuration:
    map-underscore-to-camel-case: true
